<div class="wrap">
    <a href="?page=wpr-settings" class="page-title-action">{{ __('Settings', 'wp-post-rating') }}</a> &nbsp;
    <h1 class="wp-heading-inline">
        {{ __('Stars rating list', 'wp-post-rating') }}
    </h1>
    <div id="wpr-wp-ratings-list-table">
        <div id="wpr-post-body">
            <form id="wpr-list-form" method="post">
                {{ content|raw }}
            </form>
        </div>
    </div>
</div>