<a href="https://wordpress.org/plugins/wp-post-rating/" target="_blank" style="display: inline-block">
    <small class="wpr_rating_list" style="display: grid; grid-template-columns: auto auto auto auto auto;">
        <span class="icon-star checked"></span>
        <span class="icon-star checked"></span>
        <span class="icon-star checked"></span>
        <span class="icon-star checked"></span>
        <span class="icon-star checked"></span>
    </small>
</a>
